<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= @title %></title>

	<link rel="stylesheet" type="text/css" href="/style.css">

</head>
<body class=mainbackground>
	<nav class=nav>
		<ul>
	  	<li class=list><a href="/contacts">View all contacts</a></li>
	  	<li class=list><a href="/contacts/new_contact">Add a Contact</a></li>
  </ul>

	</nav>

	<%= yield %>


	<footer><p><a href="/">Return to Home Page</a></p></footer>
</body>
</html>