	<h1>Create new Contact</h1>

<form action="/contacts" method="post">
  <h3>First Name</h3>
  <input type="text" name="first_name">
  <br>
  <h3>Last Name</h3>
  <input type="text" name="last_name">
  <br>
  <h3>Email</h3>
  <input type="text" name="email">
  <br>
  <h3>Notes</h3>
  <textarea name="note"></textarea>	
  <br>
  <input type="submit" name="Submit">
</form>
